.nav-container-secundary-about-dev {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin: auto 2px auto 4px;
    padding: 0px;
}


.footer-container-about-dev {
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
}