body {
    margin: 0px;    /*para retirar os 8 pixes de margem padrão*/
    background-color: #FFFFFF;
}

/* Navbar */
.nav {
    background-image: linear-gradient( to bottom, #1E1B55, #01ADED);
    margin: 1% 5% -8px 5%;    /*para retirar os 8 pixes de margem padrão*/
    position: fixed;
    top: 0;
    width: 90%;
    border-top: 10px solid #FFFFFF;
    border-bottom: 10px solid #FFFFFF;
}
.nav-container {
    display: grid;
    grid-template-columns: 50% auto 30%;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-container-itens {
    padding: 20px 20px 20px 20px;
}
.nav-container-secundary {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: end;
    margin: auto 2px auto 4px;
    padding: 0px;
}

#page {
    border-bottom: 2px solid #FFFFFF;
}
nav div div a:hover {
    background-color: #ffffff;
    color: #1E1B55;
    padding: 10px;
    border-radius: 20px;
}
nav div div ul li a:hover {
    background-color: #ffffff;
    color: #1E1B55;
    padding: 10px;
    border-radius: 20px;
}
/* endNavbar */


/* Main */
.main {
    margin: 8%;
}
.container-section {
    margin-top: 200px;
}
.container-section-case {
    margin-top: 200px;
}
.container-section-resume {
    margin: 0px 65px;
}
.container-section-grid {
    display: grid;
    grid-template-columns: auto auto;
}
.container-section-grid-doar {
    display: grid;
    grid-template-columns: auto auto;
}
.container-section-grid-adot {
    display: grid;
    grid-template-columns: auto auto;
}
.container-section-grid-before-afeter {
    display: grid;
    grid-template-columns: auto auto;
}
.container-section-grid-case {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.container-section-grid-secundary {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 20px;
}
.container-section-grid-secundary-adot {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 20px;
}
.container-section-grid-secundary-doe{
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: 20px;
}
.img-abertura {
    height: 500px;
    margin-left: 50px;
}
.container-section-grid-secundary img, .container-section-grid-secundary-adot img {
    height: 350px;
}
.container-section-grid-secundary .image-before-afeter {
    height: 250px;
    margin-left: -30px;
    margin-right: 20px;
}
.margin-top {
    margin-top: 60px;
}
.video {
    width: 300px;
    height: 300px;
}
#start {
    background-image: url();
    width: 100%;
    height: 77vh;
    background-repeat: no-repeat;
}
#titlte-apresentation {
    margin-top: 0px;
    padding-top: 18px;
}
/* endMain */


/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-image: linear-gradient( to top, #1E1B55, #01ADED);
    padding-bottom: 15px;
}
.footer-container {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}
.footer-container-itens {
    margin: 0% 7% 0% 7%;
}
.footer-container-dev {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
}
.footer-container-image {
    text-align: center;
}
.footer-dev-image {
    display: inline-block;
    width: 35px;
    border-radius: 100px;
    border: 2px double #FFFFFF;
}
.footer-dev-type {
    text-indent: 20px;
    margin-bottom: 0px;
}
.footer-dev-name {
    margin-bottom: -25px;
    margin-top: 0px;
}
.footer-title {
    text-align: center;
}

li {
    margin-bottom: 5px;
}
/* endFooter */

/* AtributsPadroes */
.line-botton-white {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 15px;

}
.indente {
    text-indent: 30px;
}
.pg-1 {
    padding: 10px;
}
.pg-2 {
    padding: 20px;
}
.pg-3 {
    padding: 30px;
}
.black {
    color: #000000;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p, h2, h3, h4 {
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6, p, li, a, i {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

@media (max-width: 1131px) {
    .footer-container{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 10px;
    }    
}
@media (max-width: 991px) {
    .nav-container{
        display: grid;
        grid-template-columns: 20% 33% 45%;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
    .img-abertura {
        height: 250px;
        margin-left: 25%;
    }
    .container-section-grid {
        display: inline;
    }
    .container-section-grid-before-afeter {
        display: inline;
    }
    .container-section-grid-secundary img {
        height: 250px;
        margin-left: 20%;
    }
    .container-section-grid-secundary-adot img {
        height: 250px;
    }
    .container-section-grid-secundary .image-before-afeter {
        height: 180px;
        margin-left: -80px;
    }
    .container-section-grid-case{
        grid-template-columns: auto auto;
        margin-bottom: 20px;
    }
    .video {
        width: 200px;
        height: 200px;
    }
    .container-section-case {
        margin-top: 30px;
    }
}
/* @media (min-width: 578px) {
    .menu-icon {
        display: none;
    }
} */
@media (max-width: 576px) {
    /* #menu-items {
        display: none;
    }
    .show-menu #menu-items {
        display: block;
    }
    .menu-icon {
        display: block;
    } */
    .nav-container {
        display: grid;
        grid-template-columns: 20% 29% 51%;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
    .nav-container-secundary {
        display: none;

    }
    .show {
        display: block;
    }
    .container-section-grid-secundary img {
        margin-left: 0%;
    }
    .container-section-grid-secundary-adot img {
        height: 150px;
    }
    .container-section-grid-secundary-adot {
        margin-left: 0px;
    }
    .container-section-grid-secundary {
        margin-left: 50px;
    }
    .container-section-resume {
        margin: 0px;
    }
    .container-section-grid-doar {
        display: inline;
    }
    .container-section-grid-secundary-doe{
        display: flex;
        align-items: center;
        margin-left: 60px;
        margin-top: 20px;
    }
    .img-abertura {
        margin-left: 12%;
    }
    .container-section-grid-case{
        display: inline;
        margin-top: 0px;
    }
    .footer-container{
        display: block;
        padding-top: 10px;
    }
}
@media (max-width: 500px) {
    .container-section-grid-secundary img, .img-abertura {
        height: 230px;
    }
}
@media (max-width: 435px) {
    .container-section-grid-secundary img, .img-abertura {
        height: 200px;
    }
    .container-section-grid-secundary {
        display: inline;
    }
    .container-section-grid-secundary img {
        margin-top: 30px;
        margin-left: -30px;
    }
    .footer-dev-type {
        text-indent: 20px;
        margin-bottom: 0px;
        font-size: 12px;
    }
    .footer-dev-name {
        margin-bottom: -25px;
        margin-top: 0px;
        font-size: 14px;
    }
}
@media (max-width: 376px) {
    .container-section-grid-secundary img, .img-abertura {
        height: 155px;
    }
    .footer-dev-type {
        text-indent: 20px;
        margin-bottom: 0px;
        margin-top: 25px;
        font-size: 10px;
    }
    .footer-dev-name {
        margin-bottom: -25px;
        margin-top: 0px;
        font-size: 12px;
    }
}

