body {
    margin: 0px;    /*para retirar os 8 pixes de margem padrão*/
}

/* Navbar */
.nav {
    background-image: linear-gradient( to bottom, #1E1B55, #01ADED);
    margin: 1.5% 5% -8px 5%;    /*para retirar os 8 pixes de margem padrão*/
}
.nav-container {
    display: grid;
    grid-template-columns: auto 40%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.nav-container-itens {
    padding: 20px 20px 20px 20px;
}
.nav-container-secundary {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    margin: auto 2px auto 4px;
    padding: 0px;
}
nav div a:hover {
    background-color: #ffffff;
    color: #1E1B55;
    padding: 10px;
    border-radius: 20px;
}
nav div div ul li a:hover {
    background-color: #ffffff;
    color: #1E1B55;
    padding: 10px;
    border-radius: 20px;
}
/* endNavbar */


/* Main */
.main {
    margin: 8%;
}
/* endMain */


/* Footer */
.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-image: linear-gradient( to top, #1E1B55, #01ADED);
}
.footer-container {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}
.footer-container-itens {
    margin: 0% 7% 0% 7%;
}
.footer-container-dev {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
}
.footer-container-image {
    text-align: center;
}
.footer-dev-image {
    display: inline-block;
    width: 35px;
    border-radius: 100px;
}
.footer-dev-type {
    text-indent: 20px;
    margin-bottom: 0px;
}
.footer-dev-name {
    margin-bottom: -25px;
    margin-top: 0px;
}
.footer-title {
    text-align: center;
}

li {
    margin-bottom: 5px;
}
/* endFooter */

/* AtributsPadroes */
.line-botton-white {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 15px;

}
.indente {
    text-indent: 30px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p, h2, h3, h4 {
    color: #ffffff;
}
