.footer-container-problem {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.footer-container-itens-page-problem {
    margin-left: 20px;
}
.footer-text-problem {
    padding: 0px 40px;
}
