.nav-container-problem {
    display: grid;
    grid-template-columns: 55% auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.footer-container-problem {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.footer-container-itens-page-problem {
    margin-left: 20px;
}
.footer-text-problem {
    padding: 0px 40px;
}
